.container { 
   display: flex; 
   justify-content: space-between; 
  
 } 
  
   .button, item { 
   margin-right: 2px; /* 间隔大小 */ 
  
  
 } 
  #border { 
   border: solid; 
   width: 100%; 
   height: auto; 
  
 } 
  
 .flex { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  
 } 
 #border1 { 
   border: solid; 
  
 } 
.main .version-wrap .sub-title {
            width: 50%;
            border: 1px solid #666;
            margin: 10px auto;
            text-align: center;
        }
        .version-list__latest {
            text-align: center;
        }
        .version-list__latest .version-item {
            display: inline-block;
            width: 200px;
            border: 1px solid #666;
        }
        .version-list__latest .version-item + .version-item {
            margin-left: 10px;
        }
        .version-list__latest .version-item .label {
            border-bottom: 1px solid #666;
        }
        .version-list__latest .version-item .desc {
            text-align: left;
            padding: 10px;
        }
        .version-list__history {
            width: 50%;
            margin: 0 auto;
        }
        .version-list__history .version-item {
            border: 1px solid #666;
            padding: 10px;
        }
        .version-list__history .version-item + .version-item {
            margin-top: 10px;
        }       
  
 